*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  padding:20px;
}
p{
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
  margin: 14px 0;
}

.container-form{
  padding: 20px;
  margin:0 auto;
  max-width:50%;
  text-align: justify;
  background-color: rgb(116, 191, 253);
  display: inline-block;
}
form>input[type="text"],form>input[type="email"]{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}
input[type="submit"],input[type="reset"]{
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  display: block;
  background-color:darkcyan;
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}