*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.container{
  margin: 0 auto;
  padding: 20px;
  display: inline-block;
  
}
.text-primary{
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  text-align:start;
  width: 400px;
  letter-spacing: .5px;
  vertical-align: middle;
  margin-right: 10px;
}
button{
  display: inline-block;
  padding: 10px 20px;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  vertical-align: middle;
  margin-right: 10px;
}