/* Show hamburger on small screens */
/* Hide menu and show hamburger on small screens */
@media (max-width: 768px) {
  /* main global */
  body{
    font-size: 16px; /* adjust font size for small screens */
    padding-top: 0; /* remove padding for small screens */
    margin: 0; /* remove margin for small screens */
  }
  /* section 1 */
  .left-nav {
    display: none;
    position: absolute;
    top: 70px; /* adjust as needed */
    left: 0;
    width: 100%;
    background: var(--bg-white-color);
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 100;
  }
  .left-nav.active {
    display: flex;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  /* banner text manipulation */
  .banner .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    gap: 1rem;
    text-emphasis: none; /* remove text emphasis */
    text-align: center;
    padding: 0 1rem; /* add padding for small screens */
    color: var(--text-primary-color);
    padding: 2rem;
    
  }
  .banner .banner-content .img-banner{
    width: 100%;
    height: auto;
    max-width: 400px; /* adjust as needed */
    margin-top: 1rem; /* add margin for spacing */
  }
  .banner .banner-content h2 {
    font-size: 2.2rem; /* adjust as needed */
    margin:24.5px;
    font-weight: 600;
    line-height: 2.9rem; /* allow line height to adjust based on content */
  }
  .banner .banner-content h2 span{
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--text-yellow-color);
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;  
  }
  .banner .banner-content p {
    font-size: 1.2rem; /* adjust as needed */
    margin: 0;
    margin-bottom:2rem ;
    padding: 0;
    line-height: 1.8rem; /* allow line height to adjust based on content */
  }

  .banner .banner-content button {
    padding: 1rem 1.6rem;
    font-size: 1rem;
    background-color:transparent;
    color: var(--text-primary-color);
    border: 2px solid var(--text-yellow-color);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .banner .banner-content button i{
      margin-right: 0.5rem; /* add space between icon and text */
    }
  .banner .banner-content button:hover {
    background-color:var(--bg-white-color);
    border: 2px solid var(--text-yellow-color);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  /* section 2 */
  .section2-CTA-hook-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    gap: 1rem;
  }
  .video-container {
    width: 100%;
    max-width: 700px; /* adjust as needed */
    margin: 0 auto;
    margin: 2rem 0;
    padding: 0 1rem; /* add padding for small screens */
  }
  .video-container video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: none;
    object-fit: cover;
  }
  .CTA-container .discount-text-con {
    padding: 1rem 2.5rem;
    text-align: center;
    background-color:var(--bg-primary-color);
    color: var(--text-white-color);
    border-radius: 8px;
    position: relative;
    margin: 1rem auto 2rem;
    width: 100%;

  }
  .discount-text-con .triangle-icon i{
      position: absolute;
      bottom: 0;
      transform: translate(-10%, 58%);
      font-size:2.2rem;
      color: var(--text-primary-color);
    }
  .CTA-container{
    width: 80%;
    display: flex;
    flex-direction:column;
    max-width: 500px; /* adjust as needed */
    margin: 0 auto;
  }
  .CTA-container .clock-icon, .globe-icon{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color:var(--bg-yellow-color);
    border-radius: 16px;
    margin-bottom: 2rem;
    border-width: 1px;
    border-bottom-width: 8px;
    border-style: solid;
    border-color: var(--bg-darkblue-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    
  }
  .CTA-container .clock-icon{
    background-color: var(--bg-yellow-color);
  }
  .CTA-container .globe-icon{
    background-color: var(--bg-white-color);
  }
  .CTA-container .clock-icon i, .globe-icon i{
    font-size: 1rem;
    margin-right: 10px;
  }
  .CTA-container a{
    text-decoration: none;
    color: inherit; /* inherit color from parent */
  }

  .CTA-container .discount-text-con h2 {
    font-size: 1.8rem; /* adjust as needed */
    margin: 0;
    font-weight: 600;
    line-height: 2.5rem; /* allow line height to adjust based on content */
    color: var(--text-yellow-color);
  }
  .CTA-container .discount-text-con p{
    font-size: 1.2rem; /* adjust as needed */
    font-size: 500;
    margin: 0;
    margin-top: 0.5rem;
    line-height: 1.8rem; /* allow line height to adjust based on content */
  }
  .CTA-container .text-container p{
    font-size: .8rem;
    line-height: 1.33rem; /* allow line height to adjust based on content */
  }
  /* section 3 */
  .section3 .text-container{
    display: block;
    text-align: center;
    padding:1rem;
    margin: 0 auto;
    max-width: 600px; /* adjust as needed */
  }
  .section3 .text-container .subtitle{
    font-size: .80rem; /* adjust as needed */
    margin: 0;
    margin-bottom: .8rem;
    color: var(--text-yellow-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
  }
  .section3 .text-container .title{
    margin: 1.50rem 0;
    font-size: 1.50rem;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .sec3-flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    gap: 2rem; /* add gap between boxes */
  }
  .section3 .text-container p{
    font-size: .80rem; /* adjust as needed */
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
  }
  .sec3-flexbox-container .sec3-box1, .sec3-box2{
    background-color: var(--bg-white-color);
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1.5rem;
    position: relative;
  }
  .sec3-flexbox-container img{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
  .sec3-flexbox-container .sec3-box1 .position-text, .sec3-box2 .position-text {
    text-transform: uppercase;
    font-size: 0.6rem;
    background-color: var(--bg-yellow-color);
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    letter-spacing: 1.2px;
    font-weight: 600;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .sec3-flexbox-container .sec3-box1 h4, .sec3-box2 h4 {
    font-size: 1rem; /* adjust as needed */
    margin: 0.5rem 0;
    font-weight: 600;
  }
  .sec3-flexbox-container .sec3-box1 p, .sec3-box2 p {
    font-size: 0.8rem; /* adjust as needed */
    margin: 0;
    line-height: 1.5rem; /* allow line height to adjust based on content */
  }
  .sec3-flexbox-container .sec3-box2{
    background-color:var(--bg-yellow-color);
  }
  .sec3-flexbox-container .sec3-box2 .position-text{
    background-color: var(--bg-white-color);
  }
  .sec3-flexbox-container .sec3-box3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .sec3-flexbox-container .sec3-box3 .left-con{
    color: var(--text-secondary-color);
    background-color: var(--bg-darkblue-color);
    font-size: inherit;
    font-size: 300;
    padding: .9rem 1.2rem;
    border-radius: 12px;
    
  }
  .sec3-flexbox-container .sec3-box3 .left-con i{
    font-size: 1.5rem;
    margin-bottom: 0.7rem; /* add space between icon and text */
  }
  .sec3-flexbox-container .sec3-box3 .left-con h4{
    font-size: .9rem; /* adjust as needed */
    margin: 0;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0.5rem; /* add space between title and text */
  }
  .sec3-flexbox-container .sec3-box3 .left-con p{
    font-size: .8rem; /* adjust as needed */
    margin: 0;
    line-height: 1.5rem; /* allow line height to adjust based on content */
  }
  .sec3-flexbox-container .sec3-box3 .right-con{
    padding: 1.2rem;
    background-color: var(--bg-white-color);
    font-size: inherit;
    font-size: 300;
    border-radius: 12px;
  }
  .sec3-flexbox-container .sec3-box3 .right-con i{
    font-size: 1.5rem;
    margin-bottom: 0.7rem; /* add space between icon and text */
  }
  .sec3-flexbox-container .sec3-box3 .right-con h4{
    font-size: .9rem; /* adjust as needed */
    margin: 0;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0.5rem; /* add space between title and text */
  }
  .sec3-flexbox-container .sec3-box3 .right-con p{
    font-size: .8rem; /* adjust as needed */
    margin: 0;
    line-height: 1.5rem; /* allow line height to adjust based on content */
  }
  .sec3-box3 .right-con a,
  .sec3-box3 .left-con a{
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 0.765625px;
    text-decoration-skip: 5px;
    color: inherit;
    cursor: pointer;
  }
  .sec3-box3 .right-con:hover,
  .sec3-box3 .left-con:hover{
    transform: scale(1.05) skew(-2deg) ;
  }
  /* section 4 styles */
  .section4{
    text-align: center;
    margin-top: 50px; /* adjust as needed */
  }
  .section4 h4 {
    font-size: 0.8rem; /* adjust as needed */
    margin: 0;
    font-weight: 500;
    line-height: 2.5rem; /* allow line height to adjust based on content */
    color: var(--text-yellow-color);
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: dotted;
    text-decoration-line: underline;
  }
  /* mixed same layout with section 6 combined with advanced css selector */
  .section4 .img-flexContainer, .section6 .img-flexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 1.5rem;
    width: 100%;
    max-width: 100%; /* adjust as needed */
    margin: auto auto;
    text-align: center;
  }
  /* mixed same layout with section 6 combined with advanced css selector */
  .section4 .img-flexContainer img, .section6 .img-flexContainer .img-thumbnail {
    width: 100%;
    height: 137px; /* adjust as needed */
    object-fit:contain;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    flex: 1 1 100%; /* allow images to take full width on small screens */

  }
  /* mixed same layout with section 6 combined with advanced css selector */
  .section4 .img-flexContainer > .img, .img-flexContainer > .img-thumbnail {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: transparent;
    min-height: 168px; /* adjust as needed */
    width: 100%;
    flex: 1 1 100%; /* allow images to take full width on small screens */
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  .section4 .img-container-Classic {
    background-image: url('assets/icon-pack-image/classic-thumb.svg');
  }
  .section4 .img-container-Duotone {
    background-image: url('assets/icon-pack-image/duotone-thumb.svg');
  }
  .section4 .img-container-Sharp {
    background-image: url('assets/icon-pack-image/sharp-thumb.svg');
  }
  .section4 .img-container-SharpDuotone {
    background-image: url('assets/icon-pack-image/sharp-duotone-thumb.svg');
  }
  .section4 .img-container-Brands {
    background-image: url('assets/icon-pack-image/brands-thumb.svg');
  }
  .section4 .img-flexContainer span, .section6 .img-flexContainer span {
    visibility:hidden; /* hide text on small screens */
  }

  /* section 5 */
  .section5 {
    text-align: center;
    margin-top: 50px; /* adjust as needed */
  }
  .section5 .text-container h4 {
    font-size: 0.8rem; /* adjust as needed */
    margin: 0;
    font-weight: 500;
    line-height: 2.5rem; /* allow line height to adjust based on content */
    color: var(--text-yellow-color);
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: dotted;
    text-decoration-line: underline;
  }
  .section5 h2 {
    font-size: 1.5rem; /* adjust as needed */
    margin: 0;
    font-weight: 700;
    line-height: 2.5rem; /* allow line height to adjust based on content */
  }
  .section5 p {
    font-size: 0.9rem; /* adjust as needed */
    margin: 0;
    line-height: 1.5rem; /* allow line height to adjust based on content */
  }
  .section5-parentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 1.5rem;
    width: 100%;
    max-width: 100%; /* adjust as needed */
    margin: auto auto;
  }
  .section5 .form-container {
    background-color: var(--bg-white-color);
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1; /* allow form to take full width on small screens */
    width: 100%;
    text-align: left;
  }
  .section5 .form-imageRocket {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    box-sizing: content-box;
    flex: 1 1 auto; /* allow image to take full width on small screens */
  }
  .section5 .form-imageRocket img {
    width: 100%;
    height: auto;
    max-width: 500px; /* adjust as needed */
    border-radius: 8px;
  }
  .section5 .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: start;
  }
  .section5 .input-container input{
    padding: 0.8rem 1.2rem;
    border: 1px solid var(--bg-darkblue-color);
    border-radius: 8px;
    font-size: .8rem;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
  }
  .section5 .input-container input:focus {
    outline: none;
  }
  
  .section5 .form-container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
  }
  .section5 .form-container form label {
    font-size: 0.9rem; /* adjust as needed */
    color: var(--text-primary-color);
    font-weight: 500;
  }
  .section5 .form-container form p{
    text-align: center;
    font-size: 0.8rem; /* adjust as needed */
    color: var(--text-primary-color);
  }
  .section5 .btn-start{
    font-size: .8rem;
    padding: 0.8rem 1.2rem;
    background-color: var(--bg-lightblue-color);
    color: var(--text-primary-color);
    font-weight: 600;
    border-radius: 10px;
    border-width: 2px;
    border-bottom-width: 6px;
    border-color: var(--bg-darkblue-color);
    border-style: solid;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .section5 .btn-start:active{
    transform: scale(0.95);
  }
  /* section 6 */
  .section6 {
    text-align: center;
    margin-top: 50px; /* adjust as needed */
    padding: 0 1.55rem;
  }
  .section6 .text-container h4 {
    font-size: 0.8rem; /* adjust as needed */
    margin: 0;
    font-weight: 500;
    line-height: 2.5rem; /* allow line height to adjust based on content */
    color: var(--text-darkgreen-color);
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: dotted;
    text-decoration-line: underline;
  }
  .section6 h2 {
    font-size: 1.5rem; /* adjust as needed */
    margin: 0;
    font-weight: 600;
    line-height: 2.5rem; /* allow line height to adjust based on content */
    vertical-align: middle;
  }
  .section6 h2 span{
    font-size: .8rem;
    font-weight: 500;
    background-color: var(--bg-darkgreen-color);
    color:inherit;
    border-radius: 12px;
    padding: 0.4rem 0.8rem;
    vertical-align: middle;
  }
  .section6 p {
    font-size: 0.78rem; /* adjust as needed */
    margin: 0;
    line-height: 1.30rem; /* allow line height to adjust based on content */
  }
  .section6 .upgrade-container{
    margin-top: 1.5rem;
    display: flex;
    flex-direction:row;
    text-align: start;
    align-items: center;
    justify-content: start;
    padding: .8rem 1.2rem;
    background-color: var(--bg-white-color  );
    box-shadow: 0 2px 6px rgba(0,0,0,0.1) ;
  }
  .section6 .upgrade-container i{
    font-size: 1.5rem;
    color: var(--text-darkgreen-color);
    margin-right: 0.5rem; /* add space between icon and text */
  }
  .section6 .upgrade-container p{
    font-size: 0.9rem; /* adjust as needed */
    margin: 0;
    line-height: 1.5rem; /* allow line height to adjust based on content */
  }
  .section6 .upgrade-container h4{
    font-size: .99rem; /* adjust as needed */
    padding: .5rem 1rem;
    background-color: var(--bg-darkgreen-color);
    vertical-align: middle;
    border-radius: 8px;
    font-weight: 600;
  }
  .section6 .upgrade-text-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: start;
    align-items: start;
  }
  .section6 .upgrade-text-container a{
    text-decoration:none;
    color: inherit; /* inherit color from parent */
  }
  .section6 .img-flexContainer{ 
    padding-left: 0;
    padding-right: 0;
  }
  .section6 .img-flexContainer [data-text="newPackDescription"] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;

    border-radius: 5px;
    border: 1px solid gray;
    background-color: inherit;
    border-style: dashed;
    
  }
  .section6 .img-flexContainer [data-text="newPackDescription"] > p{
    font-size: 0.8rem; /* adjust as needed */
    margin: 0;
    line-height: 1.5rem; /* allow line height to adjust based on content */
    color: var(--text-primary-color);
  }

  .section6 .img-flexContainer [data-text="newPackDescription"] i{
    font-size: 2rem;
    color: var(--text-darkgreen-color);
    margin-bottom: 0.5rem; /* add space between icon and text */
  }
  .section6 .img-flexContainer .tale-color-text{
    font-size: 0.8rem; /* adjust as needed */
    margin: 0;
    font-weight: 600;
    line-height: 1.5rem; /* allow line height to adjust based on content */
    color: var(--text-primary-color);
    background-color: var(--bg-lightgreen-color);
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
    letter-spacing: 1px;
  }
  /* section 7 */
  .section7-parentContainer{
    text-align: center;
    margin-top: 50px; /* adjust as needed */
    padding: 0 1.55rem;
  }
  .tech-updateText-container h4{
    font-size: 0.8rem; /* adjust as needed */
    margin: 0;
    font-weight: 500;
    line-height: 2.5rem; /* allow line height to adjust based on content */
    color: var(--text-darkviolet-color);
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: dotted;
    text-decoration-line: underline;
  }
  .tech-updateText-container h2{
    font-size: 1.5rem; /* adjust as needed */
    font-weight: 600;
    line-height: 2.5rem; /* allow line height to adjust based on content */
    margin: 0.8rem 0;
  }
  .tech-updateText-container p{
    font-size: 0.8rem; /* adjust as needed */
    margin: 0;
    line-height: 1.3rem;
    margin-bottom: 1.5rem;/* allow line height to adjust based on content */
  }
  .sec7-grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  .sec7-grid-container .child-grid-con:nth-child(odd){
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--bg-darkviolet-color);
    color: var(--text-secondary-color); 
    position: relative;
  }
  .sec7-grid-container .child-grid-con:nth-child(even){
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--bg-white-color);
    color: var(--text-primary-color);
    position: relative;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  } .text-info-con i{
    font-size: 1.7rem;
    align-items: center;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
  }
  .text-info-con h5{
    font-size: .95rem;
    text-align: start;
    margin-bottom: .5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  .text-info-con p{
    font-size: .80rem;
    margin: 0;
    line-height: 1.2rem; /* allow line height to adjust based on content */
    text-align: justify;
  }
  .child-grid-con .new-label{
    top: 0;
    transform:translate(-50%, -50%);
    position: absolute;
    padding: 0.2rem 0.5rem;
    font-size: .8rem;
    font-weight: 500;
    border-radius: 0.5rem;
    color: var(--text-white-color);
    background-color: var(--text-darkgreen-color);
    text-transform: uppercase;
  }
  

} /* <-- do not remove this end curly for @media (max-width: 768px) */


/* Always show hamburger on small screens, hide on desktop */
.hamburger-menu {
  display: none;
  font-size: 2rem;
}

/*for larger screens min-width: 769px */
@media (min-width: 769px) {
  .navbar {
    display: flex;
    /* flex-direction: row; */
  }
  .navbar:nth-child(1) {
    order: 2; /* Move left-nav to the end */
  }
  .navbar:nth-child(2) {
    order: 1; /* Move right-nav to the end */
  }
}