*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.flexContainer{
  display: flex;
}

.box1{
  background-color: antiquewhite;
  flex-basis: 50px;
  padding:20px;
}
.box2{
  background-color: aqua;
  flex-grow: 1;
  padding:20px;
}
.box3{
  background-color: lightgreen;
  flex-basis: 75px;
  padding:20px;
}