*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.flexContainer{
  border: 2px solid black;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
}
.box1{
  background-color: aqua;
  cursor: pointer;
}
.box2{
  background-color: aqua;
}