/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: rgb(100, 0, 100);
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  column-gap: 22px;
  
}
input[type="search"] {
  width: 100%;
  flex-grow: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}
.button-container button {
  padding: 8px 16px;
  background-color: rgb(100, 0, 100);
  border: 1px  solid #ffffff;
  border-radius: 4px;
  color: white;
  /* border: none; */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button-container button:hover {
  background-color: #0056b3;
}