*{ /*reset body default setting*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 20px;
  background-color: grey;
  color: black;

}
h1, p{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 700;
  text-align: center;
  text-decoration: underline;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 10px 20px;
  background-color: aliceblue;
  padding: 50px;
  width: 100%;
}
.item-grid{
  padding: 10px;
  font-size: 20px;
  background-color: aqua;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}