*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f0f0f0;
  padding: 20px;
}
img{
  width: 700px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  object-fit:contain;
  object-position:center;
}