*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
div{
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  column-gap: 20px; /* Space between image and input */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 50%;
  margin: 0 auto;
  box-sizing: content-box;
}
img{
  width: 80px;
  height: auto;
  border-radius: 40px;
  object-fit: cover;
  vertical-align: middle;
  

}
input[type="text"]{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
  
  
}
input[type="text"]:focus{
  outline: none;
  border:1px solid #00b3ff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
input[type="button"]{
  padding: 15px 40px;
  font-size: large;
  background-color: #00b3ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  font-size: 18px;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}



